$white: #fff;
$oxford-blue: #374151;
$pale-sky: #6b7280;
$mischka: #d1d5db;

$header-background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
$button-background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);

$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-700: 700;

$font-size-h1: 20.75px;
$font-size-label: 14px;
$font-size-button: 16px;
